<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Teste Random</title>

    <style>

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        h1{color: white;

        }

        span{
            color: white;
        }

        button{
            font-size: larger;
            color: black;
        }

    </style>

</head>

<body style="background-color: {{cor_de_fundo_html}};">

    <header style="background-color: black;">

        <h1>Perícia Criminal</h1>

        <span>COMO</span>

        <span>SOBRE</span>

        <span>NOVIDADES</span>

        <button>LOGIN</button>

    </header>

    <p>
        
        A perícia criminal é uma área fundamental da investigação criminal, 
        responsável por analisar e fornecer informações técnicas e científicas que auxiliam na elucidação de crimes. 
        Os peritos criminais utilizam diversas técnicas e conhecimentos em áreas como biologia, química, física e informática, para examinar vestígios, objetos e cenas de crime. O trabalho do perito é essencial para a construção de provas objetivas, garantindo que a justiça seja feita com base em dados concretos e imparciais. Dessa forma, a perícia criminal contribui diretamente para o esclarecimento dos fatos e a resolução de processos judiciais.
    
    </p>
   

    <img src="/static/img/foto-pericia.jpg" style="height: 400px; width: 500px;">
    
</body>

</html>